@import "tailwindcss";
@plugin "daisyui";

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@layer base {
  :root {
    color-scheme: dark;
  }

  h1 {
    /* 32px */
    @apply text-4xl font-bold mb-2;
  }

  h2 {
    /* 24px */
    @apply text-3xl font-semibold mb-2;
  }

  h3 {
    /* 16px */
    @apply text-base font-medium mb-2;
  }

  body {
    @apply bg-base-300 text-base-content min-h-screen;
  }
}
